@keyframes moveStar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}

.star {
    position: absolute;
    background-color: white; /* Можете настроить цвет */
    border-radius: 50%;
    opacity: 1;
    animation: moveStar 4s linear infinite;
}
